{
    "endOfLine": "lf",
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "es5",
    "singleQuote": false,
    "plugins": [
        "./node_modules/prettier-plugin-organize-imports"
    ]
}