@font-face {
    font-family: "RobotoFlex";
    src: url("/fonts/RobotoFlex.ttf");
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: 400;
}

li:not(:last-child) {
    margin-bottom: 4px;
}

p {
    margin: 0;
}

a {
    font-weight: normal;
    color: black;
    text-decoration-line: none;
    background:
        linear-gradient(to right,
            #6eb5ff,
            #6eb5ff),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
}

* {
    font-family: RobotoFlex;
    font-variation-settings: 'wdth' 110, 'wght' 600;
}

p,
li,
ul,
a,
h2,
h3 {
    font-variation-settings: 'opsz' 20, 'wdth' 110, 'wght' 300;
}